<header class="article-header-with-image" style="background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url('/images/guy_holding_camera.jpeg')">
	<section class="article-information">
		<h1> {{ .Title }}</h1>
		<section class="publishg-metadata">
			<time>{{ .PublishDate.Format "January 2, 2006" }}</time>
			<div class="reading-time">
				<div>{{ partial "_icons/clock-icon.svg" .}} {{ .ReadingTime }}-minute read</div>
			</div>
		</section>
		<a href="/tutorials" class="breadcrumb-link"> Back to Tutorials ← </a>
	</section>
</header>